{% extends "base.html" %}
{% from "partials/macros.html" import head %}
{% block content %}
{{ head(t('edit.new_widget'), t('widget.choose_type')) }}
{% for cat in ['start', 'insight'] %}
<h2 class="sub-head">{{ t('category.' ~ cat) }}</h2>
<div class="type-grid">
  {% for k in kinds if k.category.value == cat %}
  <a class="type-card" href="/widgets/new?type={{ k.key }}&space={{ space_id }}{% if section_id %}&section={{ section_id }}&board={{ board_id }}&version={{ version }}{% endif %}">
    <b>{{ t('wtype.' ~ k.key ~ '.name') }}</b><small>{{ t('wtype.' ~ k.key ~ '.desc') }}</small></a>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}
